# Normalisiere Textdateien auf LF im Repo (verhindert CRLF-Rauschen unter Windows)
* text=auto eol=lf

# Binärdateien nicht anfassen
*.png  binary
*.ico  binary
*.wav  binary
*.exe  binary
*.syso binary
